.parentContainer {
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 200px;
  background-color: rgb(248, 245, 245);
  margin-top: 50px;
}
.sectionOneParent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}
.sectionTwoParent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}
.sectionThreeParent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}
.container {
 border-radius: 30px;
  display: table;
  flex-direction: column;
  float: left;
  width: 25%;
  padding: 10px;
  height: 140%;
  border: 0.4px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.sectionOne {
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  
  display: flex;
  background-color: rgb(247, 243, 243);
}

.sectionTwo {
  background-color: rgb(201, 200, 200);
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  justify-content: center;
}

.sectionOneText {
  font-weight: bold;
  padding: 40px;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.textParent {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.textLeft {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.textRight {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 100%;
 
}
.text1 {
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 20px;

  margin-left: 10px;
  color: rgb(93, 133, 133);
}
.text3 {
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 20px;

  width: inherit;
}
.text2 {
  font-weight: 500;
  font-size: 0.9rem;
  padding-bottom: 20px;
  margin-left: 10px;
  color: rgb(93, 133, 133);
}
.text4 {
  font-weight: bold;
  font-size: 0.9rem;
  padding-bottom: 20px;
  padding-right: 10px;
  width: inherit;
}

.pictureView {
  width: 150px;
  height: 180px;
  border-radius: 210px;
  padding: 10px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }